# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/
.vscode

# Wordpress
wp-content/*

# WordPress Starter Dev Files
/Dockerfile
/docker-compose.yml
test.sh

# IntelliJ
.idea

# Only version mailster plugin because we want to make changes to it
example/app/*
!example/app/wp-content/

example/app/wp-content/*
!example/app/wp-content/plugins

example/app/wp-content/plugins/*
!example/app/wp-content/plugins/wp-mailster

example/app/wp-content/plugins/wp-mailster/log/mailster.log.php

example/app/wp-content/plugins/wp-mailster/log/mailster.log.php

example/app/wp-content/plugins/wp-mailster/log/mailster.log.php

example/app/wp-content/plugins/wp-mailster/log/mailster.log.php

example/app/wp-content/plugins/wp-mailster/log/mailster.log.php
